nav.navbar.navbar-light.bg-dark {
    background-color: white !important;
}

.nav__logo {
    display: flex;
    margin-left: 5vw;
}

a.navbar-brand {
    color: black;
    font-size: 35px;
    font-weight: 600;  
    padding-right: 0px;  
    margin-right: 0px;
}

div.item.nav__item {
    padding-right: 0px;
}

div.item.item__art {
    flex-grow: 1;
}

span {
    font-size: small;
    color: $grey;
}


.iconos {
    height: 70px;
    display: flex;
    align-items: center;
}

div.item {
    padding-right: 15px;
    
}

.icono {
   font-size:20px; 
}

@media (max-width: 767px) {

    header {
        width: 100%;
    }

    .iconos {
        display: none;
    }

    
}